@import '../../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
.post{
  text-align: left;
  background-color: aliceblue;
  opacity: 0.8;
  border-radius: 12px;
  position: relative;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  flex: 1 1 auto;
  width: 95%;
  height: auto;
  top: 10px;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 2.5% ;
  outline: none;
  padding: 1.2rem .4rem .2em 1.2em;
  text-decoration: none;
  transition: box-shadow .6s,-webkit-box-shadow .9s;
  white-space: nowrap;
  border: 0;
  touch-action: manipulation;
  word-wrap: break-word;
}

.post:hover {
  box-shadow: #352e97 0 0 0 3px, transparent 0 0 0 0;
}
.likes{
  text-align: right;
}
.heart{
  position: relative;
  display: inline-flex;
  padding: 2px;
  border: none;
  background: none;
  cursor: pointer;
}
