<!--<img src="../../../assets/e6700c3f-155a-4b2e-85bf-891aa907fa50.jpg" alt="image"/>
<br/>-->
<div>
  <div style="text-align:center">
    <div class="webcam">
    <webcam
        [height]="700" [width]="700"
        [trigger]="triggerObservable"
        *ngIf="showWebcam"
        (imageCapture)="handleImage($event)"
        [imageQuality]="0.5"
        (initError)="handleInitError($event)"
    ></webcam>
  </div>
  <br/>
    <!-- when startup -->
    <div class = "center">
    <button
    class="corner-button" role="button" (click)="triggerSnapshot();"
    *ngIf="(showLoading == false) && (signUpMode == false)">
      <div > {{ buttonText }} </div>
    </button>

    <button class="corner-button"
            (click)="changeSighnUpMode()"
            *ngIf="(showLoading == false) && (signUpMode == false)">
            SignUp
    </button>
    </div>
    <!-- while signUpMode -->
    <br *ngIf="signUpMode" />
    
    <div class="center">
    <input *ngIf="signUpMode" type="text"
           placeholder="username: "
           #name
           (keyup)="onInputChange(name.value)" />

    <button  *ngIf="signUpMode" class="button-58" role="button" 
              (click)="triggerSnapshot();">
    Capture & SignUp</button>
    </div>
    
    <!-- while loading -->
    <div *ngIf="showLoading" class="center">
      <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
  </div>
</div>
 
<!-- <div class="snapshot" *ngIf="webcamImage">
  <img [src]="webcamImage.imageAsDataUrl"/>
</div> -->

