.webcam{
  background-color: #20232a;
}
.corner-button {
    font-family: "Lato", sans-serif;
    letter-spacing: 0.02rem;
    cursor: pointer;
    background: transparent;
    border: 0.5rem solid currentColor;
    padding: 1.5rem 6rem;
    font-size: 2.2rem;
    color: #8f94fb;
    position: relative;
    transition: color 0.2s;
    z-index: 1;
    margin: 10px;
  }
  .corner-button:hover {
    color: #4e54c8;
  }
  .corner-button:hover::before {
    width: 0;
  }
  .corner-button:hover::after {
    height: 0;
  }
  .corner-button:active {
    border-width: 0.25rem;
  }
  .corner-button::before, .corner-button::after {
    content: "";
    position: absolute;
    background: #282c34;
    z-index: -1;
    transition: all 0.3s;
  }
  .corner-button::before {
    width: calc(100% - 3rem);
    height: calc(101% + 1rem);
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .corner-button::after {
    height: calc(100% - 3rem);
    width: calc(101% + 1rem);
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #4e54c8, #8f94fb);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  .wave:nth-child(11) {
    animation-delay: 1s;
  }
  .wave:nth-child(12) {
    animation-delay: 1.1s;
  }
  .wave:nth-child(13) {
    animation-delay: 1.2s;
  }
  .wave:nth-child(14) {
    animation-delay: 1.3s;
  }
  .wave:nth-child(15) {
    animation-delay: 1.4s;
  }
  .wave:nth-child(16) {
    animation-delay: 1.5s;
  }
  .wave:nth-child(17) {
    animation-delay: 1.6s;
  }
  .wave:nth-child(18) {
    animation-delay: 1.7s;
  }
  .wave:nth-child(19) {
    animation-delay: 1.8s;
  }
  .wave:nth-child(20) {
    animation-delay: 1.9s;
  }
  .wave:nth-child(21) {
    animation-delay: 2s;
  }
  .wave:nth-child(22) {
    animation-delay: 2.1s;
  }
  .wave:nth-child(23) {
    animation-delay: 2.2s;
  }
  .wave:nth-child(24) {
    animation-delay: 2.3s;
  }
  .wave:nth-child(25) {
    animation-delay: 2.4s;
  }

  @keyframes wave {
    0% {
      transform: scale(0.2);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }

//.input {
//  --background: #fff;
//  --border-default: #D0D0DF;
//  --border-active: #3D6DF9;
//  --shadow-default: #{rgba(#202048, .12)};
//  --shadow-active: #{rgba(#3D6DF9, .25)};
//  --text-color: #818190;
//  --placeholder-color: #C9C9D9;
//  --placeholder-color-hover: #BABAC9;
//  --close: #818190;
//  --close-light: #BABAC9;
//  --close-background: #F1F1FA;
//  width: 100%;
//  max-width: 240px;
//  display: flex;
//  align-items: center;
//  position: relative;
//  border-radius: 8px;
//  background: var(--background);
//  box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border, var(--border-default)), 0 1px 3px var(--shadow, var(--shadow-default));
//  transition: box-shadow .2s;
//  --clear-x: 0px;
//  --clear-swipe-left: 0px;
//  --clear-swipe-x: 0;
//  --clear-swipe: 0px;
//  --clear-scale: 0;
//  --clear-rotate: 0deg;
//  --clear-opacity: 0;
//  --clear-arrow-o: 1;
//  --clear-arrow-x: 0px;
//  --clear-arrow-y: 0px;
//  --clear-arrow-offset: 4px;
//  --clear-arrow-offset-second: 4px;
//  --clear-line-array: 8.5px;
//  --clear-line-offset: 27px;
//  --clear-long-array: 8.5px;
//  --clear-long-offset: 24px;
//&.clearing,
//&:focus-within {
//   --border-width: 1.5px;
//   --border: var(--border-active);
//   --shadow: var(--shadow-active);
// }
//&.clearing {
//   --close-background: transparent;
//   --clear-arrow-stroke: var(--close-light);
// }
//.text {
//  flex-grow: 1;
//input {
//  -webkit-appearance: none;
//  line-height: 24px;
//  background: none;
//  border: none;
//  outline: none;
//  display: block;
//  width: 100%;
//  margin: 0;
//  padding: 12px 16px;
//  font-family: inherit;
//  font-size: 14px;
//  font-weight: 500;
//  color: var(--text-color);
//&::placeholder {
//   color: var(--placeholder-color);
//   transition: color .2s;
// }
//}
//}
//&:hover {
//
//.text {
//
//input {
//
//&
//::placeholder {
//  color: var(--placeholder-color-hover);
//}
//
//}
//}
//}
//.clear {
//  -webkit-appearance: none;
//  position: relative;
//  outline: none;
//  z-index: 1;
//  padding: 0;
//  margin: 12px 12px 12px 0;
//  border: none;
//  background: var(--b, transparent);
//  transition: background .2s;
//  border-radius: 50%;
//  opacity: var(--clear-opacity);
//  transform: scale(var(--clear-scale)) translateZ(0);
//&:before {
//   content: '';
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 12px;
//   left: var(--clear-swipe-left);
//   background: var(--background);
//   transform-origin: 100% 50%;
//   transform: translateX(var(--clear-swipe)) scaleX(var(--clear-swipe-x)) translateZ(0);
// }
//svg {
//  display: block;
//  position: relative;
//  z-index: 1;
//  width: 24px;
//  height: 24px;
//  outline: none;
//  cursor: pointer;
//  fill: none;
//  stroke-width: 1.5;
//  stroke-linecap: round;
//  stroke-linejoin: round;
//  stroke: var(--close);
//  transform: translateX(var(--clear-x)) rotate(var(--clear-rotate)) translateZ(0);
//path {
//  transition: stroke .2s;
//&.arrow {
//   stroke: var(--clear-arrow-stroke, var(--close));
//   stroke-dasharray: 4px;
//   stroke-dashoffset: var(--clear-arrow-offset);
//   opacity: var(--clear-arrow-o);
//   transform: translate(var(--clear-arrow-x), var(--clear-arrow-y)) translateZ(0);
//&:last-child {
//   stroke-dashoffset: var(--clear-arrow-offset-second);
// }
//}
//&.line {
//   stroke-dasharray: var(--clear-line-array) 28.5px;
//   stroke-dashoffset: var(--clear-line-offset);
// }
//&.long {
//   stroke: var(--clear-arrow-stroke, var(--close));
//   stroke-dasharray: var(--clear-long-array) 15.5px;
//   stroke-dashoffset: var(--clear-long-offset);
//   opacity: var(--clear-arrow-o);
//   transform: translate(var(--clear-arrow-x), var(--clear-arrow-y)) translateZ(0);
// }
//}
//}
//&:hover {
//   --b: var(--close-background);
// }
//}
//}
//
//html {
//  box-sizing: border-box;
//  -webkit-font-smoothing: antialiased;
//}
//
//* {
//  box-sizing: inherit;
//&:before,
//&:after {
//   box-sizing: inherit;
// }
//}
//
//// Center & dribbble
//   body {
//     min-height: 100vh;
//     display: flex;
//     font-family: 'Inter', Arial;
//     justify-content: center;
//     align-items: center;
//     background: #fff;
//.dribbble {
//  position: fixed;
//  display: block;
//  right: 20px;
//  bottom: 20px;
//img {
//  display: block;
//  height: 28px;
//}
//}
//.twitter {
//  position: fixed;
//  display: block;
//  right: 64px;
//  bottom: 14px;
//svg {
//  width: 32px;
//  height: 32px;
//  fill: #1da1f2;
//}
//}
//}
